<div class="myContainer"></div>

<div class="container">
	<div class="d-flex p-4 my-4 border">
		<div class="px-4">
			<h3 class="text-warning text-center">How to find perfect destination?</h3>
			<h5 class="text-center">Some our thoughts and tipps for you</h5>
			<p class="text-justify mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem libero id pariatur. A ratione voluptatum mollitia velit consequatur maiores, cum molestias sapiente voluptatem aliquam tempora corporis rerum in nobis doloremque.</p>
		</div>
		<img width=400 src="/assets/img/blog1.jpg" alt="askdjh">
	</div>
	<div class="d-flex p-4 my-4 border">
		<div class="px-4">
			<h3 class="text-warning text-center">Why to chose our hotels?</h3>
			<h5 class="text-center">Some thoughts about hotel paradigma</h5>
			<p class="text-justify mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem libero id pariatur. A ratione voluptatum mollitia velit consequatur maiores, cum molestias sapiente voluptatem aliquam tempora corporis rerum in nobis doloremque.</p>
		</div>
		<img width=400 src="/assets/img/blog2.jpg" alt="askdjh">
	</div>
	

</div>
