<div class="myContainer">
	<div class="black">
		<div class="container">
		<div class="empty"></div>	
		<div class="jumbotron bg-transparent">
			  <h1 class="display-4 text-light mb-4">Travel fast, travel more</h1>
			  <p class="lead text-light">And we shall make your trip comfortable</p>
			  
			  <a class="btn btn-warning btn-lg" routerLink="/travel" role="button">See destinations</a>
		</div>
	</div>
	</div>
	
</div>

<div class="container aboutus">
	<h1 class="display-4 text-center">With us you get</h1>
	<div class="d-flex justify-content-between py-5 text-center">
		<div class="card bg-light mb-3" style="max-width: 18rem;">
		  	<div class="card-header myicon text-center"><i class="fas fa-percentage"></i></div>
		  	<div class="card-body">
		    	<h5 class="card-title myicon">Pay Less!</h5>
		    	<p class="card-text">Order trip, that is more then 200€ and have 10% discount! More then 500% - 20%!</p>
  			</div>
		</div>
		<div class="card bg-light mb-3" style="max-width: 18rem;">
		  	<div class="card-header myicon text-center"><i class="fas fa-ice-cream"></i></div>
		  	<div class="card-body">
		    	<h5 class="card-title myicon">Free Ice-Cream!</h5>
		    	<p class="card-text">Begin your holiday with our small gift as soon as you arrive! You can chose the sort you want, of corse.</p>
  			</div>
		</div>
		<div class="card bg-light mb-3" style="max-width: 18rem;">
		  	<div class="card-header myicon text-center"><i class="fas fa-wine-bottle"></i></div>
		  	<div class="card-body">
		    	<h5 class="card-title myicon">Free Wine!</h5>
		    	<p class="card-text">Beginn your holiday's first evening with our small gift! Time to start your gourmet adventure.</p>
  			</div>
		</div>
		
	</div>
</div>